*{
    margin: 0;
    padding: 0;
    border: 0;

    font-family: sans-serif;
    background:url("../images/bottom.png") repeat ;
}

body {
    width: 100%;
    height: 100vh;
    background:url("../images/bottom.png") repeat ;
    background-size:cover;
}

.navbar {
    position: fixed;
    height: 15%;
    width: 100%;
    min-width: 100%;
}

.topList{
    margin-left: 8%;

}

.nav-item a {
    text-decoration: none;
    text-decoration-color: white ;
    color: #fff;
    margin: 0 40px;
    position: relative;
    height: 100%;
    width: 50%;
    list-style-type: none;
}

.nav-item a::after{
    content:'';
    height: 3px;
    width: 0%;
    background: #e86478;
    position: absolute;
    left:0 ;
    bottom: -2px;
    transition:0.5s ;
}

.nav-item a:hover{
    color: white;
}

.nav-item a:hover::after{
    width: 100%;
}

.navbar-brand{
    width:20%;
}

.img{
    width:25%;
    height:25%;
    margin-left: 30%;
    cursor: pointer;
}

.navbar-toggler-icon{
    background: url("../images/list.png");
}

.subMenu{
    position: fixed;
    top:15%;
    width: 15%;
    visibility: hidden;
    background: #e86478;
    border-radius : 10px ;
    z-index: 1;
}

.subMenu a {
    display: block;
    text-decoration: none;
    height:40px;
    color: white;
    text-align: center;
    padding-top :5px ;
    background:transparent
}

.subMenu a:hover {
    background-image:url("../images/bottom.png");
    margin-left: -1.5%;
    border-radius : 9px ;
    color: white;
}


#home {
    width: 100%;
    height: 100px;
    background-image: url('../images/bottom.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.containerCake{
    width:100% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}
div.card{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0rem 0rem 0rem #e86478;
    border-radius: 1.5rem;
    flex-direction: column;
    width: 210px;
    height: 100%;
    text-align: center;
    margin: 5px 10px 30px 20px;
   padding: 0%;
    padding-bottom: 2%;
    color: white;
    transition:0.3s;
}
.card:hover{
    box-shadow: 0px 0.5rem 1.5rem #e86478;
    transition: 0.5s;
    transform:translateY(-5px) ;
}
.img-container{
    border-radius: 1.5rem;
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-imag{
    width: 100%;
    height: 180px;
    border-radius: 1.5rem;
}
.card-description{
    text-align: center;
    margin-top:20px ;
    width: 200px;
    /*margin-bottom: 3px;*/
    border-radius: 1.5rem;
}

.card-nam{
    font-size: 20px;
    color:white;
    /*margin-top: 5px;*/


}
.card-info{
    font-size: 17px;
    color: white;
    margin-top: 5px;
}
.card-price{
    font-size: 17px;
    color: white;
    padding-top: -10px;
}
.Iadd{
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition:all 0.5s  ease-in-out  ;
    transition:0.3s;
}

.addToCart{
    position: absolute;
    width:70%;
    height:10%;
    left: 15%;
    border-radius: 1.5em;
    background: #e86478;
    margin-top: 20%;
}

.button3{
    position: absolute;
    width:50%;
    height: 1%;
    left: 26%;
    top:86%;
    border-radius: 1.5em;
    background: transparent;
    z-index: 1;
}

.productNumber{
    border: 0px;
    position: relative;
    left:25%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.quantity{
    position: relative;
    width:50%;
    background: white;
    margin-bottom: 30%;
    border-radius: 1.5em;
    text-align: center;
}