*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    background:url("../images/bottom.png") repeat ;
}

body {
    width: 100%;
    height: 100vh;
    background:url("../images/bottom.png") repeat ;
    background-size:cover;
}

.navbar {
    position: fixed;
    height: 15%;
    width: 100%;
    min-width: 100%;
}

.topList{
    margin-left: 8%;

}

.nav-item a {
    text-decoration: none;
    text-decoration-color: white ;
    color: #fff;
    margin: 0 40px;
    position: relative;
    height: 100%;
    width: 50%;
    list-style-type: none;
}

.nav-item a::after{
    content:'';
    height: 3px;
    width: 0%;
    background: #e86478;
    position: absolute;
    left:0 ;
    bottom: -2px;
    transition:0.5s ;
}

.nav-item a:hover{
    color: white;
}

.nav-item a:hover::after{
    width: 100%;
}

.navbar-brand{
    width:20%;
}

.img{
    width:25%;
    height:25%;
    margin-left: 30%;
    cursor: pointer;
}

.navbar-toggler-icon{
    background: url("../images/list.png");
}

.subMenu{
    position: fixed;
    top:15%;
    width: 15%;
    visibility: hidden;
    background: #e86478;
    border-radius : 10px ;
    z-index: 1;
}

.subMenu a {
    display: block;
    text-decoration: none;
    height:40px;
    color: white;
    text-align: center;
    padding-top :5px ;
    background:transparent
}

.subMenu a:hover {
    background-image:url("../images/bottom.png");
    margin-left: -1.5%;
    border-radius : 9px ;
    color: white;
}


#home {
    width: 100%;
    height: 100px;
    background-image: url('../images/bottom.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.containerOrders{
    width:100% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

div.card{
    border-style: solid;
    border-color: white;
    position: relative;
    left:-20%;
    width: 50%;
    height:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0rem 0rem 0rem #e86478;
    border-radius: 1.5rem;
    flex-direction: column;
    text-align: center;
    margin: 5px 10px 30px 20px;
    color: white;
    transition:0.3s;
}
.card:hover{
    box-shadow: 0px 0.5rem 1.5rem #e86478;
    transition: 0.5s;
    transform:translateY(-5px) ;
}

.img-container{
    position: relative;
    left: -35%;
    width: 30%;
    display: flex;
    background: transparent;
}
.card-imag{
    width: 100%;
    height: 180px;
    border-radius: 1.5rem;
    padding: 15%;
}
.card-description{
    position: absolute;
    text-align: center;
    width: 40%;
    border-radius: 1.5rem;
}

.orderID{
    font-size: 20px;
    color:white;
    margin-top: 5px;
}
.orderDate{
    font-size: 17px;
    color: white;
    margin-top: 5px;
}
.totalPrice{
    font-size: 17px;
    color: white;
    margin-top: 5px;
}

.orderDetailsButton{
    position: absolute;
    background: #e86478;
    width:25%;
    height:30%;
    right:5%;
    top:35%;
    border-radius: 30px;
    color: #e86478;
}

.orderDetailsButton2{
    position: absolute;
    background: transparent;
    width:15%;
    height:7%;
    right:10%;
    top:43%;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    z-index: 1;
}

.orderDetailsContainer{
    position: fixed;
    width: 35%;
    height:80%;
    left:50%;
    top: 17%;
    margin-left: 10%;
    background: rgba(52, 50, 50,0.2);
    border-radius: 1.5rem;
    overflow-y : scroll;
    overflow-x: hidden;
}

.orderDetailsP{
    position: relative;
    top : 5%;
    width: 100%;
    height:10%;
    color: white;
    background: transparent;
    text-align: center;
    font-size : 40px;
    font-family: "Sofia";
    margin-bottom: 15%;
}

div.card2{
    position: relative;
    margin-bottom: 7%;
    width: 80%;
    margin-left: 10%;
    height:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0rem 0rem 0rem #e86478;
    border-radius: 1.5rem;
    flex-direction: column;
    text-align: center;
    color: white;
    transition:0.3s;
}
.card2:hover{
    box-shadow: 0px 0.5rem 1.5rem #e86478;
    transition: 0.5s;
    transform:translateY(-5px) ;
}

.card2-description{
    position: absolute;
    top:5%;
    text-align: center;
    height:70%;
    margin-left:20%;
}

.img2-container{
    background: transparent;
    position: absolute;
    left: 0;
    top:0;
    width: 30%;
    height: 100%;
    display: flex;
}

.card2-imag{
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    padding: 0%;
    margin: 0;
}

.productName{
    font-size: 15px;
}

.qunt{
    font-size: 15px;
    position: relative;
    top:-18%;
    margin-top: 0;
    padding-top: 0;
}



.send{
    background: transparent;
    font-size: 25px;
    padding-top: 10%;
    font-family: "Sofia";
    position: relative;
    left:-10%;
    padding-bottom: 4%;
    color: white;
}

.trackingLevels{
    display: inline-block;
    background: transparent;
    padding-right: 7%;
    position: relative;
    left:-10%;
    color: white;
    font-family: "Sofia";
    font-size: 20px;

}
#sendimg{
    width: 50%;
    height: 50%;
    align-items: center;
    cursor: pointer;
}
.SENDButton{
    position: relative;
    text-align: center;
    background: #e86478;
    width:50%;
    height:7%;
    top : -45px ;
    /*top:60%;*/
    left:-10%;
    border-radius: 30px;
    color: #e86478;
    font-size: x-large;
    align-content: center;
    margin-bottom:10% ;
}

.orderDetailsButton3{
    position:relative;
    background: transparent;
    width:35%;
    height:2%;
    /*left: 28%;*/
    top:69%;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    z-index: 1;
}

#buttomform{
    margin-left: 20%;
    background:transparent;
    align-items: center;
    align-content: center;

}