*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    background:url("../images/bottom.png") repeat ;
}

body {
    width: 100%;
    height: 100vh;
    background:url("../images/bottom.png") repeat ;
    background-size:cover;
}

.navbar {
    position: fixed;
    height: 15%;
    width: 100%;
    min-width: 100%;
}

.topList{
    margin-left: 8%;

}

.nav-item a {
    text-decoration: none;
    text-decoration-color: white ;
    color: #fff;
    margin: 0 40px;
    position: relative;
    height: 100%;
    width: 50%;
    list-style-type: none;
}

.nav-item a::after{
    content:'';
    height: 3px;
    width: 0%;
    background: #e86478;
    position: absolute;
    left:0 ;
    bottom: -2px;
    transition:0.5s ;
}

.nav-item a:hover{
    color: white;
}

.nav-item a:hover::after{
    width: 100%;
}

.navbar-brand{
    width:20%;
}

.img{
    width:25%;
    height:25%;
    margin-left: 30%;
    cursor: pointer;
}

.navbar-toggler-icon{
    background: url("../images/list.png");
}


#profileIcon1{
    width: 100%;
    height: 100%;
}

.subMenu{
    position: fixed;
    top:15%;
    width: 15%;
    visibility: hidden;
    background: #e86478;
    border-radius : 10px ;
    z-index: 1;
}

.subMenu a {
    display: block;
    text-decoration: none;
    height:40px;
    color: white;
    text-align: center;
    padding-top :5px ;
    background:transparent
}

.subMenu a:hover {
    background-image:url("../images/bottom.png");
    margin-left: -1.5%;
    border-radius : 9px ;
    color: white;
}

#home {
    width: 100%;
    height: 700px;
    background-image: url('../images/bottom.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

#profileSettingsIcon {
    width:30% ;
    height:100% ;
    float: left;
    background: transparent;
}

#outerDiv {
    position: absolute;
    width : 80% ;
    height : 90% ;
    left: 10%;
    top:20%;
    background: rgba(52, 50, 50,0.2);
}

#profileSettings {
    float: right;
    position: relative;
    top:-6%;
    width: 70%;
    height: 100%;
    background: transparent;
}

#profileIcon2{
    position: relative;
    width: 60%;
    height: 40%;
    top:20% ;
    left:30%;
    background: transparent;
}

#userName {
    position:relative ;
    top:25%;
    left:9%;
    color:white;
    text-align: center;
    font-size: 30px;
}



#information
{
    position: relative;
    width : 90% ;
    left:10%;
    height:70%;
    top:15%;
    bottom: 15%;
    background: transparent;
}

.information-field
{
    width: 80%;
    padding-bottom: 10px;
    border: 1px solid #999;
    outline:none;
    background: white;
    color:black;
    font-size: 15px;
}

.information-field1
{
    width: 30%;
    padding-bottom: 10px;
    border: 1px solid #999;
    outline:none;
    /*background: transparent;*/
    background: white;
    color:black;
    font-size: 15px;
}


.save-btn {
    width: 40%;
    height:40px;
    position: absolute;
    left:20%;
    cursor: pointer;
    display: block;
    margin: 30px;
    background: #e86478;
    border: 0;
    outline: none;
    border-radius: 30px;
    color: white;
}

p{
    color: white;
    font-size: 15px;
    background: transparent;
    margin-bottom: 10px;
}

#p2{
  position: absolute;
    width:100%;
    left:50%;
    top:0%;
}

.empty{
    font-size: large;
    color: red;
}